<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Lista de Usuários</h1>
    <a href="{{ url_for('user.logout') }}" class="button btn-danger">Logout</a>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Status</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ 'Ativo' if user.active else 'Desativado' }}</td>
                    <td>
                        {% if user.active %}
                            <form method="post" action="{{ url_for('user.activate_user', user_id=user.id, activate=0) }}">
                                <input type="submit" value="Desativar" />
                            </form>
                        {% else %}
                            <form method="post" action="{{ url_for('user.activate_user', user_id=user.id, activate=1) }}">
                                <input type="submit" value="Ativar" />
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>